<!DOCTYPE html>

<html>
    <head>
        <title>Twittee</title>
        <link rel="stylesheet" href="../assets/css/sign_in.css">
    </head>
    <body>
        <div class="signin">
            <p class="app-name">Twitee</p>
            <form action="/authenticate/create_session" method="POST">
                <input type="email" class="input_box" name="email" placeholder="Enter mail">
                <input type="password" class="input_box" name="password" placeholder="Enter password">
                <button type="submit" class="signin_button">Sign in</button>
            </form>
        </div>

    </body>

</html>